<div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About me</h2>
                    <p class="lead"> My name is Brian Nguyen, a full stack software engineer with a strong background in Javascript. I have a passion in developing complex algorithms to solve problems and creating a consistent and organized structure on both frontend and backend. I certainly love to identify and tackle challenging problems individually and together with other talented and creative engineers.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6 padding">
                    <img class="img-responsive about" src="assets/about.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
<div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="text-center">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Technical Skills</h2>
                </div>
                <div class="text-center">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Strong</h3>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 icons" ng-repeat="sskill in strong">
                            <h4>{{sskill.skill}}</h4>
                            <img src={{sskill.icon}} alt="">
                        </div>
                    </div>
                    <h3 class="section-heading">Experienced</h3>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 icons" ng-repeat="eskill in experienced">
                            <h4>{{eskill.skill}}</h4>
                            <img src={{eskill.icon}} alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>